*{
    font-size: 16px;
    text-align: center;
    justify-content: center;
    font-family: 'Space Grotesk', sans-serif;
    background-color:coral;
}

div{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 80vh;
}

h1{
    font-size:2rem;
    margin:0.75rem;
    font-family: 'Lilita One', cursive;
    color:black;
}

img{
    height: 320px;
    width: 320px;
    object-fit: cover;
    margin:2rem;
    border: solid 5px black;
    border-radius: 1rem;
    box-shadow: 0px 0px 20px black;
}

button{
    padding:20px;
    background-color: yellow;
    color:black;
    border: solid 3px black;
    box-shadow: 4px 4px black;
    cursor:pointer;
    border-radius: 3px;
}

button:active{
    transform: translateY(4px) translateX(4px);
    box-shadow: 0px 0px;
    transition: ease;
    transition-duration: 250ms;
}
